*
!.gitignore

!src/
!src/**/
!src/**/*.rs

!python/
!python/adaptif/
!python/adaptif/*.py
!python/adaptif/*.pyi

!tests/
!tests/**/
!tests/**/*.py

!examples/
!examples/**/
!examples/**/*.rs

!Cargo.toml
!Cargo.lock

# uv
!pyproject.toml
!uv.lock

!Makefile

# docs
!*.md
!LICENSE-APACHE
!LICENSE-MIT

# ci/cd
!.github/
!.github/**/
!.github/**/*.yml
!.github/**/*.md
!.pre-commit-config.yaml

# explitic excludes
**/__pycache__/
