*
!.gitignore

!src/
!src/**/
!src/**/*.rs

!python/
!python/adaptif/
!python/adaptif/*.py
!python/adaptif/*.pyi

# python unit tests
!python/tests/
!python/tests/**/*.py

# integration tests specifics
!tests/python/
!tests/python/**/*.py
!tests/rust/
!tests/rust/**/*.rs

!examples/
!examples/**/
!examples/**/*.rs

!Cargo.toml
!Cargo.lock

# uv
!pyproject.toml
!uv.lock

!Makefile

# docs
!*.md
!LICENSE-APACHE
!LICENSE-MIT

# ci/cd
!.github/
!.github/**/
!.github/**/*.yml
!.github/**/*.md
!.pre-commit-config.yaml

# explicit excludes
**/__pycache__/
**/data
